@model BankSystem_MVC_.Models.Deposite

@{
    ViewData["Title"] = "AddDeposit";
}

<h1>AddDeposit</h1>
@* <p>Deposite successfully..</p> *@
<h4>Deposite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDeposite">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div> *@

            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="DepositeAmount" class="control-label"></label>
                <input asp-for="DepositeAmount" class="form-control" />
                <span asp-validation-for="DepositeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DepositeAccount">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
